<div class="modal">
<h2 class="text-center"><%=name%></h2>
<div class="grid center">

    <div class="span4 offset1" style="margin-top: 40px;">
        <div class="row">
            <div class="span2 text-left">Select reriod:</div>
            <div class="span2">
                <select class="span2" name="time">
                    <option value="5seconds">5 seconds</option>
                    <option value="10seconds">10 seconds</option>
                    <option value="1minute">1 minute</option>
                    <option value="1hour">1 hour</option>
                </select>
            </div>
        </div>

    </div>





</div>
<div class="row center">
    <button class="large success">Start</button>
    <button class="large error">Stop</button>
</div>
</div>