<h1 class="kioskTitle">
    TYC Genera Corporation<BR />WELCOME
</h1>

<div class="kiosk_content">
    <div class="data-content">
        <table class="table striped hovered">
            <thead>
            <tr>
                <th class="text-left">Job Name</th>
                <th class="text-left">Type</th>
                <th class="text-left">Priority</th>
                <th class="text-left">Next Run</th>
                <th class="text-left">Last Run</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
