<div id="page"></div>
<script data-main="/js/admin" src="/js/libs/require/require.js"></script>
<script type="text/javascript">
    require(['admin'], function (app) {
        app.start();
    });
</script>