<div class="modal">
<h2 class="offset1">Add Order Type to Matrix</h2>
<div class="grid center">

    <div class="span4 offset1" style="margin-top: 40px;">
        <div class="row">
            <div class="span1 width70">Type:</div>
            <div class="span2">
                <select class="span2" name="type">
                    <option value="1" >Will Call</option>
                    <option value="2">Express</option>
                    <option value="3" >Truck</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="span1 width70" >Sub Type:</div>
            <div class="span2">
                <select class="span2" name="orderSubType">
                    <option value="0" >UPS</option>
                    <option value="1" >Fedex</option>
                    <option value="2" >OnTrac</option>
                    <option value="3" >LoneStar</option>
                    <option value="4" >SpeeDee</option>
                    <option value="5" >BBExpress</option>
                    <option value="6" >MGC</option>
                    <option value="7" >Others</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="span1 width70" >Ranking:</div>
            <div class="span2">
                <select class="span2" name="ranking" >
                    <option value="1" >1</option>
                    <option value="2" >2</option>
                    <option value="3" >3</option>
                    <option value="4" >4</option>
                    <option value="5" >5</option>
                    <option value="6" >6</option>
                    <option value="7" >7</option>
                    <option value="8" >8</option>
                    <option value="9" >9</option>
                    <option value="10" >10</option>
                </select>
            </div>
        </div>

    </div>





</div>
<div class="row center">
    <button class="large success">Save</button>
</div>
</div>