<header>
	<div class="btn add-matrix-item" action="add">
		<div class="icon"></div>
		<div class="lable">Add Matrix Item</div>
	</div>
	<div class="btn update-order-matrix" action="edit">
		<div class="icon"></div>
		<div class="lable">Update Matrix</div>
	</div>
</header>
<div class="data-content">
    <table class="table striped hovered">
        <thead>
            <tr>
                <th class="text-left">Order Type</th>
                <th class="text-left">Order Sub Type</th>
                <th class="text-left">Ranking</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>