
<div class="modal">
<h2>Update Order Matrix</h2>
<div class="grid matrixTable">




        <table class="table striped hovered">
            <thead>
            <tr>
                <th class="text-left">Select</th>
                <th class="text-left">Order Type</th>
                <th class="text-left">Order Sub Type</th>
                <th class="text-left">Ranking</th>
            </tr>
            </thead>
            <tbody>


            </tbody>
        </table>
    <img class="rowUp" src="/imgs/custom/arrowUp.png"/>
    <img class="rowDown" src="/imgs/custom/arrowDown.png"/>

    <button class="delete">Delete</button>
    <button class="save">Save</button>

</div>








</div>