<header>
	<div class="btn edit-user" action="edit_user">
		<div class="icon"></div>
		<div class="lable">Edit User</div>
	</div>
	<div class="btn reset-password disable" action="reset_password">
		<div class="icon"></div>
		<div class="lable">Reset Password</div>
	</div>
</header>
<div class="data-content">
    <table class="table striped hovered">
        <thead>
            <tr>
                <th class="text-left"></th>
                <th class="text-left">First Name</th>
                <th class="text-left">Last Name</th>
                <th class="text-left">User ID</th>
                <th class="text-left">User Type</th>
                <th class="text-left">Hours of Regular Work</th>
                <th class="text-left">Status</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>