<div class="modal">
	<div class="grid">
		<div class="row">
			<div class="span3">New Password:</div><%console.log('user', model);%>
			<input class="span2" type="password" name="newPass1"
			<%=(model.role == 3 || model.role == 5)? 'maxlength="4" placeholder="Just 4 digits"':''%>
			>
		</div>
		<div class="row">
			<div class="span3">Confirm New Password:</div>
			<input class="span2" type="password" name="newPass2" 
			<%=(model.role == 3 || model.role == 5)? 'maxlength="4" placeholder="Just 4 digits"':''%>
			>
		</div>
	</div>
	<div class="row center">
		<button class="large success">Save</button>
	</div>
</div>