<div class="row labelMonitoring">Action</div>
<div class="span">
	<div class="row">
		<div class="buttons-box">
			<button class="transfer hideBlock">
				<i class="icon-tab"></i>
				<div class="title boldText">Transfer</div>
			</button>
			<!--<button class="add-resource">-->
				<!--<i class="icon-user-3"></i>-->
				<!--<div class="title">Add Resource</div>-->
			<!--</button>-->
		</div>
	</div>
</div>
<div class="row radio">
    <input type="radio" name="radioButton" checked>   Default
</div>
