<td><%= firstName + ' ' + lastName%></td>
<td><input type="checkbox" data-id="<%=id%>" name="<%=id%>" <%if(onOffFlag){%>checked<%}%>></td>
<td><input type="radio" data-role="1" name="<%=id%>" <%if(assignment==1){%>checked<%}%>></td>
<td><input type="radio" data-role="2" name="<%=id%>" <%if(assignment==2){%>checked<%}%>></td>
<td><input type="radio" data-role="3" name="<%=id%>" <%if(assignment==3){%>checked<%}%>></td>
<td><input type="radio" data-role="4" name="<%=id%>" <%if(assignment==4){%>checked<%}%>></td>
<td><input type="radio" data-role="5" name="<%=id%>" <%if(assignment==5){%>checked<%}%>></td>
