<div class="data-content">
    <table class="table striped hovered">
        <thead>
            <tr>
                <th class="text-left">Order Number</th>
                <th class="text-left">Customer ID</th>
                <th class="text-left">Customer Name</th>
                <th class="text-left">City</th>
                <th class="text-left">State</th>
                <th class="text-left">Order Date</th>
                <th class="text-left">Pickup Time, </th>
                <th class="text-left">Status</th>
                <th class="text-left">Pieces</th>
                <th class="text-left">Bin Location</th>
                <th class="text-left">PO Number</th>
                <th class="text-left"><input type="checkbox" /></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>