<!DOCTYPE html>
<html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="NetVision Warehouse Manager" />
    <meta name="author" content="NetVision LLC" />
    <title>NetVision Warehouse Manager™</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    <script type="text/javascript" src="/js/libs/jquery/jquery.js"></script>
</head>
<body>
    <%- body %>
</body>
</html>