<div class="locations">
	<div class="button-set">
		<!-- <button class="change">Change Location</button> -->
		<button class="all filter" data-keyword="">All</button>
		<button class="filter" data-keyword="abcde">A - E</button>
		<button class="filter" data-keyword="fghij">F - J</button>
		<button class="filter" data-keyword="klmno">K - O</button>
		<button class="filter" data-keyword="pqrst">P - T</button>
		<button class="filter" data-keyword="uvwxyz">U - Z</button>
	</div>
</div>
<div class="items"></div>