<!--<div id="checkEquipment">-->
    <!--<div class="form-line center">-->
        <!--<div class="input">-->
            <!--<h3 class="offset0">You have no permission to access the application</br>using this device.</br> Please contact administrator.</h3>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<div id="deleteModal" class="metro window-overlay" style="background-color: rgba(0, 0, 0, 0.701961);">
    <div class="window flat shadow" style="overflow: hidden; min-width: 450px; min-height: 150px; position: fixed; z-index: 3000; top: 175px; left: 524px; width: 448px; height: 140px;">
        <div class="caption"><button class="btn-close"></button>
            <div class="title"><span class="capitalize">Access Denied</span>
            </div>
        </div>
        <div class="content" style="padding: 52px 20px 20px;"><div>
            <div class="modal">
                <p>You have no permission to access the application</br>using this device.</br> Please contact administrator</p>

            </div></div></div></div></div>