<div id="label">Batch : <%=batch.get('id')%></div>
<div class="data-content">
	<table class="table striped hovered">
    	<thead>
            <tr>
                <th class="text-left">Order Number</th>
                <th class="text-left">Customer ID</th>
                <th class="text-left">Customer Name</th>
                <th class="text-left">City</th>
                <th class="text-left">State</th>
                <th class="text-left">Order Date</th>
                <th class="text-left">Release Date</th>
                <th class="text-left">Weight</th>
                <th class="text-left">Pieces</th>
                <th class="text-left">Stage</th>
                <th class="text-left">Shortage</th>
            </tr>
		</thead>
        <tbody>
        <% _.each(batch.get('orders').models, function(order, i) { %>
            <tr data-id="<%=order.get('id')%>">
                <td><%=order.get('id')%></td>
                <td><%=order.get('customerId')%></td>
                <td><%=order.get('customerName')%></td>
                <td><%=order.get('city')%></td>
                <td><%=order.get('state')%></td>
                <td><%=order.get('orderDate')%></td>
                <td><%=order.get('releaseDate')%></td>
                <td><%=order.get('weight')%></td>
                <td><%=order.get('pieces')%></td>
                <td>PA</td>
                <td></td>
            </tr>
        <% }); %>
        </tbody>
    </table>
</div>
<script language="javascript">
$(document).ready(function(e) {
	$('#button_show_header').attr("disabled", "disabled");
	$('#button_item_lookup').removeAttr("disabled");
	$('#button_show_all').attr("disabled", "disabled");
	$('#button_start_picking').attr("disabled", "disabled");
	$('#button_finish_phase').removeAttr("disabled");
	$('#button_dashboard').removeAttr("disabled");
});
</script>