<div class="fillRateTable">


    <table class="table striped">
        <thead>
        <tr>
            <th class="text-left">Stage</th>
            <th class="text-left" >Fill Rate</th>
            <th class="text-left" >Incoming Shipment</th>
            <th class="text-left" >Outgoing Shipment</th>

        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <div class="span0" name="newRow"><b>New</b></div>
    <input class="span1" name="fillRatePercentage" type="text" value="">
    <div class="span0" name="slash">-</div>
    <input class="span1" name="incomingAllocPercentage" type="text" value="">
    <div class="span0" name="slash">-</div>
    <input class="span1" name="outgoingAllocPercentage" type="text" value="">
    <br>
    <div class="icons">
        <span class="icon-file-3"></span>
        <span class="icon-remove"></span>
    </div>
</div>
