<div class="info">
	<div>Order Type: <%= orderType %></div>
	<div>Batch: <%= model.masterBatchId %></div>
</div>
<div class="buttons">
	<div class="btn show-header disable" action="show-header">
		<i class="icon-book"></i>
		<div class="lable">Show Header</div>
	</div>
	<div class="btn item-lookup" action="item-lookup">
		<div class="icon"></div>
		<div class="lable">Item Lookup</div>
	</div>
	<div class="btn show-all" action="show-all">
		<div class="icon"></div>
		<div class="lable">Show All</div>
	</div>
</div>