<header>
	<div class="btn edit-order-type" action="edit">
		<div class="icon"></div>
		<div class="lable">Edit Order Type</div>
	</div>
</header>
<div class="data-content">
    <table class="table striped hovered">
        <thead>
            <tr>
                <th class="text-left"></th>
                <th class="text-left">Order Type</th>
                <th class="text-left">Order Sub Type</th>
                <th class="text-left">Description</th>
                <th class="text-left">Split Flag</th>
                <th class="text-left">PickPack Flag</th>
                <th class="text-left">Freight</th>
                <th class="text-left">Wrap Flag</th>
                <th class="text-left">Bin Flag</th>
                <th class="text-left"># of Bin</th>

            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>