<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/assets/Metro-UI-CSS/min/metro-bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/common.css">
</head>
<body class="metro">
<div class="container">
    <div class="grid">
        <div class="row">
            <div class="span12">
                <div id="user-list-filter" class="button-set">
                    <button class="large" data-start="a" data-end="z">Reset</button>
                    <button class="large" data-start="aa" data-end="cz">A-C</button>
                    <button class="large" data-start="da" data-end="fz">D-F</button>
                    <button class="large" data-start="ga" data-end="iz">G-I</button>
                    <button class="large" data-start="ja" data-end="lz">J-L</button>
                    <button class="large" data-start="ma" data-end="oz">M-O</button>
                    <button class="large" data-start="pa" data-end="rz">P-R</button>
                    <button class="large" data-start="sa" data-end="uz">S-U</button>
                    <button class="large" data-start="va" data-end="zz">V-Z</button>
                </div>
            </div>
            <div class="span4">
                <div class="text-right">
                    <button id="change-location" class="large">Change Location</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row tile-container" id="user-list">
    </div>
</div>
</body>
</html>
