<div id="page"></div>
<script data-main="/js/manager" src="/js/libs/require/require.js"></script>
<script type="text/javascript">
    require(['manager'], function (app) {
        app.start();
    });
</script>