<div class="pickupTable span3" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <table class="table pickupTable striped">
        <thead>
        <tr>
            <th class="text-left padding0 center"></th>
            <th class="text-left padding0 center">Cut-Off</th>
            <th class="text-left padding0 center">Pickup</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <div class="span0" name="newRow"><b>New</b></div>
    <input class="span1" name="cutOfTime" type="text" value="">
    <div class="span0" name="slash">-</div>
    <input class="span1" name="pickingTime" type="text" value="">
    <br>
    <div class="icons">
        <span class="icon-file-3"></span>
        <span class="icon-remove"></span>
    </div>
</div>
