<div class="adminHomePage">
	<header>TYC Genera Warehouse System</header>
	<div class="tile-container">
		<a href="#locations">
			<div class="tile double double-vertical bg-none">
				<div class="tile-content">
					<i class="location"></i>
				</div>
				<div class="tile-status">
					<span class="name">Location</span>
				</div>
			</div>
		</a>
		<a href="#user_setup">
			<div class="tile double double-vertical bg-none">
				<div class="tile-content">
					<i class="user-setup"></i>
				</div>
				<div class="tile-status">
					<span class="name">User Setup</span>
				</div>
			</div>
		</a>
		<a href="#order_types">
			<div class="tile double double-vertical bg-none">
				<div class="tile-content">
					<i class="order-types"></i>
				</div>
				<div class="tile-status">
					<span class="name">Order Types</span>
				</div>
			</div>
		</a>
		<a href="#calendar">
			<div class="tile double double-vertical bg-none">
				<div class="tile-content">
					<i class="calendar"></i>
				</div>
				<div class="tile-status">
					<span class="name">Calendar</span>
				</div>
			</div>
		</a>
		<a href="#monitoring">
			<div class="tile double double-vertical bg-none">
				<div class="tile-content">
					<i class="order-matrix"></i>
				</div>
				<div class="tile-status">
					<span class="name">Monitoring</span>
				</div>
			</div>
		</a>
		<a href="#reports">
			<div class="tile double double-vertical bg-none">
				<div class="tile-content">
					<i class="reports"></i>
				</div>
				<div class="tile-status">
					<span class="name">Reports</span>
				</div>
			</div>
		</a>
	</div>
</div>