<table>
	<thead>
		<tr>
			<th name=""></th>
            <th name="orderNumber">Order <i class="icon-arrow-down-4"></i></th>
            <th name="customerName">Customer Name <i></i></th>
            <th name="shipToCity">City <i></i></th>
            <th name="shipToState">State <i></i></th>
            <th name="orderDate">Order Date <i></i></th>
            <th name="batchNumber">Batch Number <i></i></th>
            <th name="batchStage">&nbsp;&nbsp;Stage <i></i></th>
            <th name="lastName">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Employee <i></i></th>
            <th name="">Alert</th>
		</tr>
	</thead>

</table>
<div class="table-wraper nano">
	<div class="nano-content">
		<table class="table striped hovered">
			<tbody></tbody>
		</table>
	</div>
</div>