<div class="span">
	<div class="row">
		<div class="span2 center cancelOrder" data-keyword="cancelOrder"><i class="icon-cancel"></i><br>Cancel Order</div>
		<div class="span2 center addOrder" data-keyword="addOrder"><i class="icon-arrow-down-3"></i><br>Add-On Order</div>
		<div class="span2 center shipVia" data-keyword="shipVia"><i class="icon-undo"></i><br>Alter Ship Via </div>
	</div>
	<div class="row center boldText">Action</div>
</div>

<div class="span">
	<div class="row">
		<div class="span2 center filterAll" data-keyword="0"><i class="icon-list"></i><br>All Orders</div>
		<div class="span2 center filterWillCall " data-keyword="1" ><i class="icon-list"></i><br>Will Call</div>
		<div class="span2 center filterExpress" data-keyword="2"><i class="icon-list"></i><br>Express</div>
		<div class="span2 center filterTruck" data-keyword="3"><i class="icon-list"></i><br>Truck</div>
	</div>
	<div class="row center boldText" >Filter View</div>
</div>

<div class="span">

</div>