
    <div class="data-content contentCallCenter">
        <div class="tabView">
            <div class="tab-control">
                <div class="frames">
                    <div class="frame callCenter">
                        <div class="grid">
                            <header></header>
                            <content>
                                <div class="table-box"></div>
                            </content>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




