<div class="modal">
<h2 class="text-center">Equipment Access</h2>
<div class="grid center">

    <div class="span4 offset1" style="margin-top: 40px;">
        <div class="row">
            <div class="span2 text-left">Equipment Type:</div>
            <div class="span2">
                <select class="span2" name="equipmentType">
                    <option value="1">Workstation</option>
                    <option value="2">Tablet</option>
                    <option value="3">Mobile Cell Phone</option>
                    <option value="4">Other</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="span2 text-left" >Description:</div>
            <div class="span2">
                <input type="text" class="span3 span3-for-column" name="description" value="">
            </div>
        </div>
        <div class="row">
            <div class="span2 text-left" >Status:</div>
            <div class="span2">
                <select class="span2" name="status" >
                    <option value="0" >Inactive</option>
                    <option value="1" >Active</option>
                </select>
            </div>
        </div>

    </div>





</div>
<div class="row center">
    <button class="large success">Save</button>
</div>
</div>