<header>
	<div class="btn add-matrix-item" action="add">
		<div class="icon"></div>
		<div class="lable">Add Equipment</div>
	</div>
	<div class="btn update-order-matrix" action="edit">
		<div class="icon"></div>
		<div class="lable">Update List</div>
	</div>
</header>
<div class="data-content">
    <table class="table striped hovered">
        <thead>
            <tr>
                <th class="text-left">Description</th>
                <th class="text-left">Equipment Type</th>
                <th class="text-left">Token</th>
                <th class="text-left">Status</th>
                <th class="text-left">Used</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>