
<div class="modal">
<div class="grid equipmentTable">
    <h2 >Equipment Access</h2>




        <table class="table striped hovered">
            <thead>
            <tr>
                <th class="text-left"></th>
                <th class="text-left">Description</th>
                <th class="text-left">Equipment Type</th>
                <th class="text-left">Token</th>
                <th class="text-left">Status</th>
            </tr>
            </thead>
            <tbody>


            </tbody>
        </table>

    <button class="delete">Delete</button>
    <button class="disable">Update Status</button>
    <button class="save">Save</button>

</div>








</div>