<header>
	<div class="btn add-location" action="add_location">
		<div class="icon"></div>
		<div class="lable">Add Location</div>
	</div>
	<div class="btn edit-location" action="edit_location">
		<div class="icon"></div>
		<div class="lable">Edit Location</div>
	</div>
	<div class="btn delete-location" action="delete_location">
		<div class="icon"></div>
		<div class="lable">Delete Location</div>
	</div>
</header>
<div class="data-content">
    <table class="table striped hovered">
        <thead>
            <tr>
                <th class="text-left"></th>
                <th class="text-left">Location ID</th>
                <th class="text-left">Location Name</th>
                <th class="text-left">Address</th>
                <th class="text-left">City</th>
                <th class="text-left">State</th>
                <th class="text-left">Zip</th>
                <th class="text-center"> Location Activated</th>
                <th class="text-center">System Activated</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>